spring.application.name=metric_api

server.port=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
# warn: use the 'update' value after running the project.
spring.jpa.hibernate.ddl-auto=create

# cron example: 30 * * * * *
scheduler.cron.expression=

# zone example: Europe/Bavaria
scheduler.cron.zone=

# cron example: 0 0 4 * * *
metrics.retention.cron=

# retention day example: 15
metrics.retention.day=